@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meu controlador de contatos (métodos: GRUD completo)</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">BLA BLA BAL Web apps with ASP.NET Core</a>.</p>
</div>
